<head>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


</head>
<body>
  <div class="col-xs-12">
  
  <div class="col-xs-6">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>
  <div class="col-xs-6">
    <div id="container2" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  </div>  
  </div>
  <div class="body">
      <h1>Here is your monthly budget:</h1>

  <h2>TESTING TESTING 123</h2>
  </div>


  <div class="col-xs-12">
  
  <div class="col-xs-6">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>
  <div class="col-xs-6">
    <div id="container2" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  </div>  
  </div>
  <div class="body">
      <h1>Here is your monthly budget:</h1>

  <h2>TESTING TESTING 123</h2>
  </div>
  <div class="col-xs-12">
  
  <div class="col-xs-6">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>
  <div class="col-xs-6">
    <div id="container2" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  </div>  
  </div>
  <div class="body">
      <h1>Here is your monthly budget:</h1>

  <h2>TESTING TESTING 123</h2>
  </div>
  <div class="col-xs-12">
  
  <div class="col-xs-6">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>
  <div class="col-xs-6">
    <div id="container2" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  </div>  
  </div>
  <div class="body">
      <h1>Here is your monthly budget:</h1>

  <h2>TESTING TESTING 123</h2>
  </div>
  <div class="col-xs-12">
  
  <div class="col-xs-6">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>
  <div class="col-xs-6">
    <div id="container2" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  </div>  
  </div>
  <div class="body">
      <h1>Here is your monthly budget:</h1>

  <h2>TESTING TESTING 123</h2>
  </div>
</body>





<script>
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Budget Breakdown:'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Percentage of Total Budget',
        colorByPoint: true,
        data: [{
            name: '<%=@category1[:category]%>',
            y: <%=@category1[:amount_spent]%>
        }, {
            name: '<%=@category2[:category]%>',
            y: <%=@category2[:amount_spent]%>
        }, {
            name: '<%=@category3[:category]%>',
            y: <%=@category3[:amount_spent]%>,
            sliced: true,
            selected: true
        }, {
            name: '<%=@category4[:category]%>',
            y: <%=@category4[:amount_spent]%>
        }, {
            name: '<%=@category5[:category]%>',
            y: <%=@category5[:amount_spent]%>
        }, {
            name: '<%=@category_others[:category]%>',
            y: <%=@category_others[:amount_spent]%>
        }]
    }]
});
</script>




    <script type="text/javascript">

Highcharts.chart('container2', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Projected vs Actual'
    },
    xAxis: {
        categories: ['<%=@category1[:category]%>', '<%=@category2[:category]%>', '<%=@category3[:category]%>', '<%=@category4[:category]%>', '<%=@category5[:category]%>', '<%=@category_others[:category]%>']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Dollars'
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'Overspending',
        color: 'red',
        data: [<%=@category1[:over_budget]%>, <%=@category2[:over_budget]%>, <%=@category3[:over_budget]%>, <%=@category4[:over_budget]%>, <%=@category5[:over_budget]%>, <%=@category_others[:over_budget]%>]
    }, {
        name: 'Left Over',
        color: 'green',
        data: [<%=@category1[:under_budget]%>, <%=@category2[:under_budget]%>, <%=@category3[:under_budget]%>, <%=@category4[:under_budget]%>, <%=@category5[:under_budget]%>, <%=@category_others[:under_budget]%>]
    }, {
        name: 'Spent Within Budget',
        color: 'lightblue',
        data: [<%=@category1[:amount_spent]%>, <%=@category2[:amount_spent]%>, <%=@category3[:amount_spent]%>, <%=@category4[:amount_spent]%>, <%=@category5[:amount_spent]%>, <%=@category_others[:amount_spent]%>]
    }]
});
    </script>



