<!DOCTYPE html>
<html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Budget</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <nav>
      <div id="user_header">
        <% if logged_in? %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to "Sign Up", signup_path %>
          <%= link_to "Log In", login_path %>        
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
